{% extends 'base.html' %}
{% block content %}
<main role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">联系我们！</h1>
          <p>
            商务合作及对外项目合作（媒体公关合作、内容合作、品牌合作及课程团购业务）：<br>
            电子邮件：mingrisoft@mingrisoft.com <br>
            联系电话：0431-84978981 <br>
          </p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
        </div>
      </div>
       <!-- /container -->
    </main>
{% endblock %}